<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="./"/>
    <link rel="stylesheet" href="@Assets["bootstrap.min.css"]"/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["AIChat.styles.css"]"/>
    <script src="@Assets["script.js"]"></script>
    <ImportMap/>
    <link rel="icon" type="image/png" href="@Assets["favicon.png"]"/>
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body>
<Routes @rendermode="InteractiveServer"/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>